<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="/public/js/loginRegister.js"></script>
    <link rel="stylesheet" href="/public/style/loginRegister.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Document</title>
</head>
<body>
<div ng-controller="RegisterController">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">register</div>
        <div class="login-form-1">
            <form id="register-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="reg_username" class="sr-only">Email address</label>
                            <input type="text" ng-model="userRegisterForm.username" class="form-control"
                                   id="reg_username" name="reg_username"
                                   placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="reg_password" class="sr-only">Password</label>
                            <input type="password" ng-model="userRegisterForm.password" class="form-control"
                                   id="reg_password" name="reg_password"
                                   placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                            <input type="password" ng-model="userRegisterForm.confirmPassword" class="form-control"
                                   id="reg_password_confirm"
                                   name="reg_password_confirm" placeholder="confirm password">
                        </div>

                        <div class="form-group">
                            <label for="reg_email" class="sr-only">Email</label>
                            <input type="email" ng-model="userRegisterForm.email" class="form-control" id="reg_email"
                                   name="reg_email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="reg_fullname" class="sr-only">Full Name</label>
                            <input type="text" ng-model="userRegisterForm.name" class="form-control" id="reg_fullname"
                                   name="reg_fullname"
                                   placeholder="full name">
                        </div>

                        <div class="flexContainer">
                            <div class="form-group">
                                <label for="reg_phone" class="sr-only">Phone number</label>
                                <input type="text" ng-model="userRegisterForm.phone" class="form-control" id="reg_phone"
                                       name="reg_phone" placeholder="phone">
                            </div>

                            <button class="btn btn-default" style="float: right;" data-toggle="modal"
                                    data-target="#smallModal">
                                <img src="/public/pic/info_8x16.png" width="5"/>
                            </button>
                        </div>

                        <div class="form-group">
                            <label for="reg_birthday" class="sr-only">Birthday</label>
                            <input type="date" ng-model="userRegisterForm.birthday" class="form-control"
                                   id="reg_birthday"
                                   name="reg_birthday" placeholder="birthday">
                        </div>

                        <div class="form-group">
                            <label for="reg_address" class="sr-only">Address</label>
                            <input type="text" ng-model="userRegisterForm.address" class="form-control" id="reg_address"
                                   name="reg_address"
                                   placeholder="address">
                        </div>

                        <div ng-controller="CountryController">
                            <br>
                            <div class="form-group">
                                <label for="reg_countryId" class="sr-only">Choose your Country</label>
                                <select ng-model="userRegisterForm.countryId" class="form-control" id="reg_countryId"
                                        name="reg_countryId">
                                    <option disabled value="">Choose your Country</option>
                                    <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}
                                    </option>
                                </select>
                            </div>
                            <br>
                        </div>

                        <div ng-controller="CityController">
                            <div class="form-group">
                                <label for="reg_cityId" class="sr-only">Choose your City</label>
                                <select ng-model="userRegisterForm.cityId" class="form-control" id="reg_cityId"
                                        name="reg_cityId">
                                    <option disabled value="">Choose your City</option>
                                    <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                            </div>
                            <br>
                        </div>

                        <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Available phone number formats:</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>+380630000000, 0630000000,</p>
                                        <p> 063-000-0000 x1234, </p>
                                        <p>063-000-0000 ext1234,</p>
                                        <p> 063-000-0000, (063)-000-0000,</p>
                                        <p> 063.000.0000, 063 000 0000</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" ng-click="register(userRegisterForm)" class="login-button"><i
                            class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>already have an account? <a ui-sref="login">login here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>