<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container" ng-controller="FriendIncomingRequestController">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6"><br><br><br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <hr>
                    <div ng-repeat="theoreticalFriend in incomingRequests">
                        <p><a ui-sref="user-view({userId: theoreticalFriend.id})">{{theoreticalFriend.name}}</a></p>
                        <div ng-controller="UserFriendBehaviorController">
                            <button class="btn" ng-click="acceptFriendshipRequest(theoreticalFriend.id)">Accept</button>
                            <button class="btn" ng-click="rejectFriendshipRequest(theoreticalFriend.id)">Decline
                            </button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>