<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="/public/js/loginRegister.js"></script>
    <link rel="stylesheet" href="/public/style/loginRegister.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Document</title>
</head>
<body>
<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <div class="login-form-1">
        <form id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" ng-model="user.login" class="form-control" id="lg_username"
                               name="lg_username"
                               placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" ng-model="user.password" class="form-control" id="lg_password"
                               name="lg_password"
                               placeholder="password">
                    </div>
                </div>
                <button type="submit" ng-click="send(user)" class="login-button"><i class="fa fa-chevron-right"></i>
                </button>
            </div>
            <div class="etc-login-form">
                <!--<p>forgot your password? <a href="#">click here</a></p>-->
                <p>new user? <a ui-sref="register">create new account</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>