<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/style/userPage.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"/>
    <title></title>
</head>
<body>
<div ng-controller="UserViewController">
    <div class="container" style="width: 550px">
        <div class="row">
            <div class="center-block">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>User Profile</h4></div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <img alt="User Pic"
                                             src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                             id="profile-image1" class="img-circle img-responsive">

                                        <input id="profile-image-upload" class="hidden" type="file">
                                        <div style="color:#999;">click here to change profile image</div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;">{{user.name}}</h4>
                                    <div><p>{{user.username}}</p></div>
                                    <div>
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown">Actions
                                                    <span class="glyphicon glyphicon-option-horizontal pull-right"></span></a>

                                                <ul class="dropdown-menu" ng-controller="CurrentUserController"
                                                    ng-show="user.id === currentUser.id">
                                                    <li><a ui-sref="user-friends({userId: user.id})">Friends <span
                                                            class="glyphicon glyphicon-user pull-right"></span></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a ui-sref="outgoing-request-list">Outgoing requests <span
                                                            class="glyphicon glyphicon-arrow-right pull-right"></span></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a ui-sref="incoming-request-list">Incoming requests <span
                                                            class="glyphicon glyphicon-arrow-left pull-right"></span></a>
                                                    </li>
                                                    <!--<li class="divider"></li>-->
                                                    <!--<li><a href="#">Messages <span class="badge pull-right"> 42 </span></a>-->
                                                    <!--</li>-->
                                                    <!--<li class="divider"></li>-->
                                                    <!--<li><a href="#">Favourites Snippets <span-->
                                                    <!--class="glyphicon glyphicon-heart pull-right"></span></a>-->
                                                    <!--</li>-->
                                                    <!--<li class="divider"></li>-->
                                                    <!--<li><a href="#">Sign Out <span-->
                                                    <!--class="glyphicon glyphicon-log-out pull-right"></span></a>-->
                                                    <!--</li>-->
                                                </ul>

                                                <ul class="dropdown-menu" ng-controller="CurrentUserController"
                                                    ng-show="user.id != currentUser.id">
                                                    <li><a ui-sref="ignore-user({userId: user.id})">Ignore <span
                                                            class="glyphicon glyphicon-remove-sign pull-right"></span></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a ui-sref="user-friends({userId: user.id})">Friends <span
                                                            class="glyphicon glyphicon-user pull-right"></span></a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a ng-controller="UserFriendBehaviorController"
                                                           ng-click="addFriend(user.id)">Add to friends <span
                                                            class="glyphicon glyphicon-plus pull-right"></span></a>
                                                    </li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-5 col-xs-6 tital ">Birthday:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.birthday}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.email}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Phone:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.phone}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Country:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.country.name}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">City:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.city.name}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 tital ">Address:</div>
                                <div class="col-sm-7 col-xs-6 ">{{user.address}}</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#profile-image1').on('click', function () {
                        $('#profile-image-upload').click();
                    });
                });
            </script>
        </div>
    </div>
</div>
<div class="createBlog" ng-controller="CurrentUserController" ng-show="user.id === currentUser.id">
    <div ng-controller="MicroblogController">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="flexContainer">
                        <label for="microblogText"></label>
                        <input type="text" class="form-control" ng-model="microblogForm.text"
                               placeholder="Write your microblog..."
                               id="microblogText">
                        <button class="btn" ng-click="addBlog(microblogForm)">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="microblog in user.microblogs">
    <div ng-controller="MicroblogController" ng-init="init(microblog.id)">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6"><br><br><br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><a ui-sref="user-view({userId: microblog.user.id})">{{microblog.user.name}}</a></p>
                            <p>{{microblog.text}}</p>
                            <p>{{microblog.creationTime}}</p>

                            <hr>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-15">

                                        <div ng-repeat="commentary in microblog.commentaries">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <p><a ui-sref="user-view({userId: commentary.user.id})">{{commentary.user.name}}</a>
                                                    </p>
                                                    <p>{{commentary.text}}</p>
                                                    <p>{{commentary.creationTime}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-controller="CommentaryController">
                                            <div class="flexContainer">
                                                <label for="comment" class="sr-only">Comment</label>
                                                <input type="text" ng-model="commentaryForm.text" class="form-control"
                                                       id="comment"
                                                       name="comment" placeholder="Leave a comment...">

                                                <button ng-click="addComment(microblog.id, commentaryForm)" class="btn"
                                                        style="float: right;">
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>