input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

body {
    background: #f0f0f0;
}

.nav {
    left: 70%;
    margin-left: -150px;
    top: 80px;
    position: absolute;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #fff;
}

.dropdown {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.dropdown-menu > li > a {
    color: #428bca;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 200px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

#comment {
    border-color: rgba(20, 20, 41, 0.39);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(151, 170, 194);
}

#comment:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(151, 170, 194);
}

.flexContainer {
    display: flex;
}